@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-[#0F0F0F] text-white;
  }
}

/* .table {
  border-collapse: separate;
  border-spacing: 0;
} */
/* 
.table tbody tr:not(:last-child) {
  margin-bottom: 4px;
}

.table tbody {
  display: block;
  flex-direction: column;
} */

/* globals.css */
